body {
  margin: 0;
  font-family: 'Muli', sans-serif;
  color: hsl(252, 6%, 33%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p, h1, h2, h3 {
  font-family: 'Muli', sans-serif;
}
.title-wrapper {
  margin: 3rem;
  font-size: 3.3rem;
  font-weight: 200;
}

.date-wrapper {
  margin-bottom: 0.5rem;
}

.date-info {
  color: hsl(252, 6%, 33%);
  font-family: 'Muli', sans-serif;
  
  margin-left: 0.6rem;
  background-image: linear-gradient(to right,#FEFFBE 100%,#fff 0);
  background-position: 0 110%;
  background-repeat: repeat-x;
  background-size: 100% 50%;
}

.tasks-header {
  padding: 1.5rem;
  text-align: left;
}

.form-text {
  font-family: 'Muli', sans-serif;
  font-size: 1rem;
}

.todo-card-title {
  font-weight: 300;
  font-size: 1.6rem;
  font-family: 'Muli', sans-serif;
  color: hsl(252, 6%, 33%);
}

.task-wrapper {
  background-color: hsl(104, 84%, 90%);
}

.completed-wrapper {
  background-color: hsl(254, 100%, 97%);
}

.completed-wrapper i {
  padding-right: 1rem;
  color: hsl(246, 5%, 58%);
}

.completed-item {
  padding-left: 1rem;
  float: left;
  text-decoration: line-through;
  color: hsl(246, 5%, 58%);
  font-family: 'Muli', sans-serif;
  font-size: 1.1rem;
  text-align: left;
}

.task-item {
  padding-left: 1rem;
  padding-top: 1rem;
  float: left;
  line-height: 0.8rem;
  color: hsl(252, 6%, 33%);
  font-family: 'Muli', sans-serif;
  font-size: 1.1rem;
  text-align: left;
}
.time-elapsed {
  font-size: 0.9rem;
}

.delete-btn {
  border-radius: 10px;
  margin-right: 1rem;
  margin-top: 0.5rem;
  float: right;
  font-family: 'Muli', sans-serif;
}

.delete-btn-text {
  font-family: 'Muli', sans-serif;
  font-weight: 700;
}